<div class='container'>

  <p class='greeting'>At the Eleventh hour</p>

  <form actions= "/extra_one" method='get'>
    <label for='first'>FIRST NUMBER</label>
    <input type='text' name='first' placeholder='Enter the number'>
    <input type='submit'>
  </form>


  <% if @result %>
  <p class='result'> You guessed it: <%= @first %> x 11 = <%= @result %> </p>
  <% end %>

</div>