<div class='container'>

  <p class='greeting'>At the Eleventh hour</p>

  <form actions= "/extra_one" method='get'>
    <label for='first_extra'>FIRST NUMBER</label>
    <input type='text' name='first_extra' placeholder='Enter the number'>
    <input type='submit'>
  </form>


  <% if @result_extra %>
  <p class='result'> You guessed it: <%= @first_extra %> x 11 = <%= @result_extra %> </p>
  <% end %>

</div>