<!DOCTYPE html>
<html>
<head>
  <title>YouLoveIt YouCalcIt</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

  <nav>
  <p>YouCalcIt YouLoveIt !</p>
  <li><a href="/">BASIC CALC</a></li>
  <li><a href="/power">POWER</a></li>
  <li><a href="/sqrt">SQUARE ROOT</a></li>
  <li><a href="/extra_one">EXTRA ONE</a></li>
</nav>


  <%= yield %>

</body>
</html>