<!DOCTYPE html>
<html>
<head>
  <title>YouLoveIt YouCalcIt</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
<!-- <div class='background'> -->

  <h1>You Calc It You Love It !</h1>
  <nav>
  <li><a href="/">BACK TO BASICS</a></li>
  <li><a href="/power">I GOT THE POWA</a></li>
  <li><a href="/sqrt">THE ROOT OF THE PROBLEM</a></li>
  <li><a href="/extra_one">THE ELEVENTH HOUR</a></li>
</nav>

  <%= yield %>

<!-- </div> -->
</body>
</html>