<div class='container'>

  <form actions= "/sqrt" method='get'>
    <label for='first_sqrt'>FIRST NUMBER</label>
    <input type='text' name='first_sqrt' placeholder='Enter the number'>
    <input type='submit'>
  </form>


  <% if @result_sqrt %>
  <div>
    <p class='result'> You guessed it: Square Root of <%= @first_sqrt %> = <%= @result_sqrt %> </p>
    <% end %>
  </div>
</div>