body {
  background-color: #FFEFD5;
}
.background {
  text-align: center;
}
.header {
  background-image: url('calcscreen.png');
  background-repeat: no-repeat;
  background-size: initial;
  background-position: center;
  height: 201px;
}

nav {
  color: #2F4F4F;
  position: relative;
  top: 45px;
}
li {
  display: inline;
  padding: 0px 10px;
}
li a {
  text-decoration: none;
  color: #2F4F4F;
  font-size: 19px;
}
.greeting {
  margin: 0px;
  position: relative;
  top: 133px;
}
.black {
  height: 100px;
  width: 1020px;
  background-color: black;
  background-position: center;
  position: relative;
  left: 95px;
}
.container {
  background-image: url('calc.jpg');
  background-repeat: no-repeat;
  background-size: initial;
  background-position: center;
  height: 600px;
  position: relative;
  top: -85px;
}
form {
  position: relative;
  color: white;
  font-size: 22px;
}
.result {
  display: block;
  position: relative;
  top: -187px;
  font-size: 34px;
  color: #2F4F4F;
}